*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #fd6e0a;
}
.btn-primary{
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 18 35px;
    border: 0;
   
    border-radius:5px;
    background: #fd6e0a;
}
/* header and nmav style */
nav{
    display: flex;
    justify-content: space-between;
    margin:50px 230px 0 230px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    
    margin-left: 50px;
}
.nav-title{
    font-weight:800;
    font-size: 45px;
}
/* banner style */
.banner{
    margin: 47px 38px 0 230px ;
    display: flex;
    align-items: center;
}

.banner-subtitle{
    font-size: 45px;
    font-weight: 600;
    color: #474747;

}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    color: #181818;

}
.banner-button{
    display: flex;
    gap: 30px;
}
.btn-contact{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    
    color: #FD6E0A; 
    border: 1px solid #FD6E0A;
    background: #fff8f3;
}
.banner p{
    color: #757575;
    font-size:18px ;
    margin-bottom: 30px;
}

.header{
    background: #fff8f3;
    background-image: url("/images/header_bg.png"),url("/images/developer.png");
    background-repeat: no-repeat;
    
    background-position: bottom right,left;
}
/* main  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about me */
.about{
    margin-top: 130px;
    background: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;


}
.section-title{
    
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
}

.section-des{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about info-title{
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}
.info-des{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
    
}

/* What i do */
.what-i-do{
    margin-top: 130px;
    

}
.section-title{
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-des{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* resume */
.resume{
    margin-top: 130px;
}
.resume-content{
    display: flex;
}
.resume-item{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
    margin-top: 30px;
}

.resume-item-title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume-item-subtitle{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px ;
}
.resume-item-des{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.resume-button{
    text-align: center;
}

/* contact  */
.contact{
    display: flex;
    gap: 100px;
    background-color: #fff8f3;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;
}
.contact-des{
    margin-bottom: 10px;
}

.contact input[type="text"],input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;

}
a{
    text-decoration: none;
}